<section>
  <form {{action 'addEndPoint' on='submit'}}>
    <label for="">URL:&nbsp{{input type='url' value=newEndPoint}}</label>
    <button name="submit">Track</button>
  </form>
  <button {{action 'ping'}}>Ping</button>
  {{input type='checkbox' checked=isPolling}}
</section>

<section>
  {{#each}}
  <h2>{{uri}}</h2>
  <ul>
    {{#each ping in pings}}
    <li>{{format-date ping.date}}: {{ping.pingTime}} ms</li>
    {{/each}}
  </ul>
  {{/each}}
</section>
