<section class='topbar'>
  <form class='topbar-form' {{action 'addEndPoint' on='submit'}}>
    <label class='topbar-form-label'>Add url:&nbsp{{input type='url' value=newEndPoint class='topbar-form-input' placeholder='http://www.example.com'}}</label>
    <button name="submit" class='btn btn-1'>Track</button>
  </form>
  <button class='btn btn-1' {{action 'ping'}}>Ping</button>
  {{input type='checkbox' checked=isPolling}}
</section>

<section class='endpoints'>

  {{#each}}
  <div class='endpoints-widget'>
  <h3 class='endpoints-widget-title'>{{uri}}</h3>
  {{#with pings.lastObject as ping}}
  <div>Last ping: {{format-date ping.date}}. Response Time: {{ping.pingTime}} ms</div>
  {{/with}}
  {{shape-graph ratio=lastPingRatio}}
  {{/each}}

</section>
