<section>
  <form {{action 'addEndPoint' on='submit'}}>
    <label for="">URL:&nbsp{{input type='url' value=newEndPoint}}</label>
    <button name="submit">Track</button>
  </form>
  <button {{action 'ping'}}>Ping</button>
  {{input type='checkbox' checked=isPolling}}
</section>

<section class='endpoints'>

  {{#each}}
  <div class='endpoints-widget'>
  <h3 class='endpoints-widget-title'>{{uri}}</h3>
  {{#with pings.lastObject as ping}}
  <div>Last ping: {{format-date ping.date}}. Response Time: {{ping.pingTime}} ms</div>
  {{/with}}
  {{shape-graph ratio=lastPingRatio}}
  {{/each}}

</section>
