<section class='topbar'>
  <form class='topbar-form' {{action 'addEndPoint' on='submit'}}>
    {{input type='url' value=newEndPoint class='topbar-form-input' placeholder='http://www.example.com'}}
    <button name="submit" class='btn btn-1'>Track</button>
  </form>
  <button class='btn btn-1' {{action 'ping'}}>Ping All</button>
  {{input type='checkbox' checked=isPolling}}
</section>

<section class='endpoints'>

  {{#each}}
  <div class='endpoints-widget'>
  {{shape-graph ratio=lastPingRatio}}
  <a {{bind-attr href=uri}} target='_blank' class='endpoints-widget-title'>{{uri}}</a>
  {{#with pings.lastObject as ping}}
  <div>Last ping: {{format-date ping.date}}. Response Time: {{ping.pingTime}} ms</div>
  {{/with}}
  {{/each}}

</section>
