<section>
  <form {{action 'addEndPoint' on='submit'}}>
    <label for="">URL:&nbsp{{input type='url' value=newEndPoint}}</label>
    <button name="submit">Track</button>
  </form>
  <button {{action 'ping'}}>Ping</button>
  {{input type='checkbox' checked=isPolling}}
</section>

<section class='endpoints'>
  {{#each}}
  <div class='endpoints-widget'>
  <h2>{{uri}}</h2>
  {{shape-graph ratio=lastPingRatio}}
  {{#with pings.lastObject as ping}}
  <div>{{format-date ping.date}}: {{ping.pingTime}} ms</div>
  {{/with}}
  {{/each}}
</section>
