<section class='topbar'>
  <form class='topbar-form' {{action 'addEndPoint' on='submit'}}>
    {{input type='url' value=newEndPoint class='topbar-form-input' placeholder='http://www.example.com'}}
    <button name="submit" class='btn btn-1'>Track</button>
  </form>

  {{#if model.length}}
  <div class='pingbar'>
    <button class='btn btn-1' {{bind-attr disabled='isPolling'}} {{action 'ping'}}>Ping all now</button>

    <span>or<span>

        <button class='btn btn-1' {{action 'togglePolling'}}>
          {{#if isPolling}}
          Stop Polling
          {{else}}
          Ping in polling
          {{/if}}
        </button>

    <span>every 10 seconds</span>
  </div>
  {{/if}}
</section>

<section class='endpoints'>

  {{#each}}
  <div class='endpoints-widget'>
  {{shape-graph ratio=lastPingRatio}}
  <a {{bind-attr href=uri}} target='_blank' class='endpoints-widget-title'>{{uri}}</a>
  {{#with pings.lastObject as ping}}
  <div>Last ping: {{format-date ping.date}}. Response Time: {{ping.pingTime}} ms</div>
  {{/with}}
  {{/each}}

</section>
